# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies

/node_modules

# production
.vscode/
/build
/storybook-static


# debug
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.env
.loki/report.html
.loki/report.json