.BIG {
  .card {
    margin-bottom: 30px;
  }
}

.SMALL {
  display: flex;
  flex-flow: row;
  flex-wrap: wrap;
  gap: 24px;

  .card {
    display: inline-flex;
  }

  .row {
    display: flex;
    gap: 30px;
  }
}
