.ArticlesDetailsPage {
  min-height: 100%;
}

.commentTitle {
  margin-top: 20px;
}

.avatar {
  margin: 0 auto;
}

.title {
  margin-top: 20px;
}

.skeleton {
  margin-top: 15px;
}

.recommended {
  margin-top: 20px;
  flex-wrap: nowrap;
  overflow-y: hidden;
  overflow-x: auto;
}
