.AppLink {
  color: var(--inverted-primary-color);

  &:hover {
    transform: scale(1.05);
    opacity: 0.75;
  }
}

.primary {
  color: var(--inverted-primary-color);
}

.secondary {
  color: var(--inverted-secondary-color);
}
